.media {
  color: white;
}
.single {
  display: inline-block;
  margin-left: 25px;
  margin-right: 25px;
  border: 2px solid lightgray;
  padding: 5px ;
  border-radius: 30px;
}
.single a {
  color: #ffff;
  position: relative;
  top: 0px;
  transition:  0.2s linear;
  text-decoration: none;

}
.single:hover {
  background: forestgreen;
}
.single a:hover {
  color: white;
  top: -5px;
  border-radius: 2px;
  border-color: lightgray;
}
@media (max-width: 570px) {
  .single {
    display: inline-block;
    margin-top: 50px;
    margin-left: 14.5px;
    margin-right: 14.5px;
  }
  .single img {
    width: 70%;
    margin-top: 120px;
    margin-left: 8px;
    margin-right: 8px;
  }
}
